.btnModuleBar {
    margin-top: 8px;
}

.btnModuleBarLeft {
    margin-left: -20px;
}

.btnModuleBarRight {
    margin-right: -20px;
}

.scrollDiv {
    position: relative;
    display:inline-block;
    width:auto;
    white-space: nowrap;
    text-align: center;
    line-height: 64px;
}

.scrollWrapper {
    width: 80%;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
}
